:root {
  /* dark theme colors */
  --dark-bg: teal;
  --dark-bg2: orangered;
  --dark-text: white;
  /* light theme colors */
  --light-bg: lightblue;
  --light-bg2: lightsalmon;
  --light-text: black;

  /* default colors */
  --bg-color: var(--dark-bg);
  --text-color: var(--dark-text);

  /* sizes */
  --display-border: 1rem;
  --cell-height: 20rem;
  --cell-width: 12rem;
  --section-margin: 1rem;

  /* counter state */
  --num1-value: 0;
  --num2-value: 0;
  /* operand state */
  --op-top-margin: 0rem;
  /* result state */
  --result-value: 0;
  --int-div: 0;
  --result-tens-margin: 0rem;
  --result-ones-margin: 0rem;
  /* const */
  /* https://stackoverflow.com/questions/37754542/css-calc-round-down-with-two-decimal-cases */
  --shf: 4.9406564584124654e-324;

  /* label display state */
  --num1-lb1-inc: none;
  --num1-lb2-inc: none;
  --num1-lb3-inc: block;
  --num1-lb4-inc: none;
  --num1-lb1-dec: none;
  --num1-lb2-dec: none;
  --num1-lb3-dec: none;
  --num1-lb4-dec: block;

  --num2-lb1-inc: none;
  --num2-lb2-inc: none;
  --num2-lb3-inc: block;
  --num2-lb4-inc: none;
  --num2-lb1-dec: none;
  --num2-lb2-dec: none;
  --num2-lb3-dec: none;
  --num2-lb4-dec: block;

  --op-lb1: block;
  --op-lb2: none;
}

@media (max-width: 1400px) {
  :root {
    --display-border: 0.75rem;
    --cell-height: 15rem;
    --cell-width: 9rem;
    --section-margin: 0.75rem;
  }
}

@media (max-width: 1200px) {
  :root {
    --display-border: 0.75rem;
    --cell-height: 12rem;
    --cell-width: 8rem;
    --section-margin: 0.75rem;
  }
}

@media (max-width: 990px) {
  :root {
    --display-border: 0.75rem;
    --cell-height: 10rem;
    --cell-width: 6rem;
    --section-margin: 0.75rem;
  }
}

@media (max-width: 767px) {
  :root {
    --display-border: 0.5rem;
    --cell-height: 8rem;
    --cell-width: 4rem;
    --section-margin: 0.5rem;
  }
}

@media (max-width: 575px) {
  :root {
    --display-border: 0.5rem;
    --cell-height: 8rem;
    --cell-width: 4rem;
    --section-margin: 0.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Behind the scenes */
.bts {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}
.checkbox {
  display: none;
}

/* Main content */
.content {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  transition: all 0.3s ease;
}

/* Section */
.section {
  margin-left: var(--section-margin);
  margin-right: var(--section-margin);
}

/* Counter */
.counter {
  display: flex;
  flex-direction: column;
}

/* Counter buttons */
.inc {
  margin-bottom: calc(2 * var(--section-margin));
}
.inc::after {
  content: "▲Inc▲";
}
.dec {
  margin-top: calc(2 * var(--section-margin));
}
.dec:after {
  content: "▼Dec▼";
}
.button {
  color: black;
  font-size: calc(var(--display-border) * 2);
  background-color: white;
  border: var(--display-border) outset white;
  height: calc(var(--display-border) * 4);
  width: calc(var(--cell-width) + var(--display-border) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.button:hover {
  background-color: lightslategrey;
  border: var(--display-border) outset lightslategrey;
}
.button:active {
  background-color: lightslategrey;
  border: var(--display-border) inset lightslategrey;
}
.button label {
  position: absolute;
  top: calc(-1 * var(--display-border));
  left: calc(-1 * var(--display-border));
  bottom: calc(-1 * var(--display-border));
  right: calc(-1 * var(--display-border));
}

/* Num1 label states */
.inc label[for="num1-cb1"] {
  display: var(--num1-lb1-inc);
}
.inc label[for="num1-cb2"] {
  display: var(--num1-lb2-inc);
}
.inc label[for="num1-cb3"] {
  display: var(--num1-lb3-inc);
}
.inc label[for="num1-cb4"] {
  display: var(--num1-lb4-inc);
}
.dec label[for="num1-cb1"] {
  display: var(--num1-lb1-dec);
}
.dec label[for="num1-cb2"] {
  display: var(--num1-lb2-dec);
}
.dec label[for="num1-cb3"] {
  display: var(--num1-lb3-dec);
}
.dec label[for="num1-cb4"] {
  display: var(--num1-lb4-dec);
}

/* Num2 label states */
.inc label[for="num2-cb1"] {
  display: var(--num2-lb1-inc);
}
.inc label[for="num2-cb2"] {
  display: var(--num2-lb2-inc);
}
.inc label[for="num2-cb3"] {
  display: var(--num2-lb3-inc);
}
.inc label[for="num2-cb4"] {
  display: var(--num2-lb4-inc);
}
.dec label[for="num2-cb1"] {
  display: var(--num2-lb1-dec);
}
.dec label[for="num2-cb2"] {
  display: var(--num2-lb2-dec);
}
.dec label[for="num2-cb3"] {
  display: var(--num2-lb3-dec);
}
.dec label[for="num2-cb4"] {
  display: var(--num2-lb4-dec);
}
/* Op label states */
label[for="op-cb1"] {
  display: var(--op-lb1);
}
label[for="op-cb2"] {
  display: var(--op-lb2);
}

/* Counter display */
.display {
  border: var(--display-border) outset white;
  height: calc(var(--cell-height) + var(--display-border) * 2);
  width: calc(var(--cell-width) + var(--display-border) * 2);
  overflow: hidden;
}

.cells {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: calc(var(--cell-height) * 10);
  width: var(--cell-width);
  /* transition: all 0.3s ease; */
}

#num1 .cells {
  margin-top: calc(-1 * var(--num1-value) * var(--cell-height));
}
#num2 .cells {
  margin-top: calc(-1 * var(--num2-value) * var(--cell-height));
}

.cell {
  /* colors */
  color: white;
  background-color: black;
  border: 2px solid white;
  /* sizes */
  font-size: calc(var(--cell-height) / 2);
  height: var(--cell-height);
  width: var(--cell-width);
  /* alignmnet */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Operand display */
.operand {
  position: relative;
}
.operand .display:hover {
  border: var(--display-border) outset lightslategrey;
}
.operand .display:hover .cell {
  border: 2px solid lightslategrey;
}
.operand .display:active {
  border: var(--display-border) inset lightslategrey;
}
.operand .display:active .cell {
  border: 2px solid rgb(53, 61, 69);
}

.operand .display label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.operand .cells {
  margin-top: var(--op-top-margin);
}

/* Result display */
.result {
  display: flex;
  flex-direction: row;
}

#result-tens.cells {
  margin-top: var(--result-tens-margin);
}
#result-ones.cells {
  margin-top: var(--result-ones-margin);
}

/* Gray code */
/* 2|1 */
/* --- */
/*  |  */
/*  |1 */
/* 1|1 */
/* 1|  */
#op-cb1 ~ #op-cb2 ~ .content {
  --op-top-margin: 0;
  /* addition result */
  --result-value: calc(var(--num1-value) + var(--num2-value));
  --int-div: calc((var(--result-value) / 10 - 0.49) * var(--shf) / var(--shf));
  --result-tens-margin: calc((var(--int-div) + 1) * -1 * var(--cell-height));
  --result-ones-margin: calc((var(--result-value) - 10 * var(--int-div)) * -1 * var(--cell-height));

  --op-lb1: block;
  --op-lb2: none;
}
#op-cb1:checked ~ #op-cb2 ~ .content {
  --op-top-margin: calc(-1 * var(--cell-height));
  /* subtraction result */
  --result-value: calc(var(--num1-value) - var(--num2-value));
  --int-div: calc((var(--result-value) / 10 - 0.49) * var(--shf) / var(--shf));
  --result-tens-margin: calc((var(--int-div) + 1) * -1 * var(--cell-height));
  --result-ones-margin: calc(
    (var(--result-value) * (var(--int-div) + 1) - var(--result-value) * (var(--int-div) * -1)) * -1 *
      var(--cell-height)
  );

  --op-lb1: none;
  --op-lb2: block;
}
#op-cb1:checked ~ #op-cb2:checked ~ .content {
  --op-top-margin: calc(-2 * var(--cell-height));
  /* multiplication result */
  --result-value: calc(var(--num1-value) * var(--num2-value));
  --int-div: calc((var(--result-value) / 10 - 0.49) * var(--shf) / var(--shf));
  --result-tens-margin: calc((var(--int-div) + 1) * -1 * var(--cell-height));
  --result-ones-margin: calc((var(--result-value) - 10 * var(--int-div)) * -1 * var(--cell-height));

  --op-lb1: block;
  --op-lb2: none;
}
#op-cb1 ~ #op-cb2:checked ~ .content {
  --op-top-margin: calc(-3 * var(--cell-height));
  /* division result */
  --result-value: calc(var(--num1-value) / var(--num2-value));
  --int-div: calc((var(--result-value) / 10 - 0.49) * var(--shf) / var(--shf));
  --result-tens-margin: calc((var(--int-div) + 1) * -1 * var(--cell-height));
  --result-ones-margin: calc((var(--result-value) - 10 * var(--int-div)) * -1 * var(--cell-height));

  --op-lb1: none;
  --op-lb2: block;
}

/* Excess-3 Gray code */
/* 4|3|2|1 */
/* ------- */
/*  | |1|  */
/*  |1|1|  */
/*  |1|1|1 */
/*  |1| |1 */
/*  |1| |  */
/* 1|1| |  */
/* 1|1| |1 */
/* 1|1|1|1 */
/* 1|1|1|  */
/* 1| |1|  */

/* State Changes for num1 */
#num1-cb1 ~ #num1-cb2:checked ~ #num1-cb3 ~ #num1-cb4 ~ .content {
  --num1-value: 0;

  --num1-lb1-inc: none;
  --num1-lb2-inc: none;
  --num1-lb3-inc: block;
  --num1-lb4-inc: none;

  --num1-lb1-dec: none;
  --num1-lb2-dec: none;
  --num1-lb3-dec: none;
  --num1-lb4-dec: block;
}
#num1-cb1 ~ #num1-cb2:checked ~ #num1-cb3:checked ~ #num1-cb4 ~ .content {
  --num1-value: 1;

  --num1-lb1-inc: block;
  --num1-lb2-inc: none;
  --num1-lb3-inc: none;
  --num1-lb4-inc: none;

  --num1-lb1-dec: none;
  --num1-lb2-dec: none;
  --num1-lb3-dec: block;
  --num1-lb4-dec: none;
}
#num1-cb1:checked ~ #num1-cb2:checked ~ #num1-cb3:checked ~ #num1-cb4 ~ .content {
  --num1-value: 2;

  --num1-lb1-inc: none;
  --num1-lb2-inc: block;
  --num1-lb3-inc: none;
  --num1-lb4-inc: none;

  --num1-lb1-dec: block;
  --num1-lb2-dec: none;
  --num1-lb3-dec: none;
  --num1-lb4-dec: none;
}
#num1-cb1:checked ~ #num1-cb2 ~ #num1-cb3:checked ~ #num1-cb4 ~ .content {
  --num1-value: 3;

  --num1-lb1-inc: block;
  --num1-lb2-inc: none;
  --num1-lb3-inc: none;
  --num1-lb4-inc: none;

  --num1-lb1-dec: none;
  --num1-lb2-dec: block;
  --num1-lb3-dec: none;
  --num1-lb4-dec: none;
}
#num1-cb1 ~ #num1-cb2 ~ #num1-cb3:checked ~ #num1-cb4 ~ .content {
  --num1-value: 4;

  --num1-lb1-inc: none;
  --num1-lb2-inc: none;
  --num1-lb3-inc: none;
  --num1-lb4-inc: block;

  --num1-lb1-dec: block;
  --num1-lb2-dec: none;
  --num1-lb3-dec: none;
  --num1-lb4-dec: none;
}
#num1-cb1 ~ #num1-cb2 ~ #num1-cb3:checked ~ #num1-cb4:checked ~ .content {
  --num1-value: 5;

  --num1-lb1-inc: block;
  --num1-lb2-inc: none;
  --num1-lb3-inc: none;
  --num1-lb4-inc: none;

  --num1-lb1-dec: none;
  --num1-lb2-dec: none;
  --num1-lb3-dec: none;
  --num1-lb4-dec: block;
}
#num1-cb1:checked ~ #num1-cb2 ~ #num1-cb3:checked ~ #num1-cb4:checked ~ .content {
  --num1-value: 6;

  --num1-lb1-inc: none;
  --num1-lb2-inc: block;
  --num1-lb3-inc: none;
  --num1-lb4-inc: none;

  --num1-lb1-dec: block;
  --num1-lb2-dec: none;
  --num1-lb3-dec: none;
  --num1-lb4-dec: none;
}
#num1-cb1:checked ~ #num1-cb2:checked ~ #num1-cb3:checked ~ #num1-cb4:checked ~ .content {
  --num1-value: 7;

  --num1-lb1-inc: block;
  --num1-lb2-inc: none;
  --num1-lb3-inc: none;
  --num1-lb4-inc: none;

  --num1-lb1-dec: none;
  --num1-lb2-dec: block;
  --num1-lb3-dec: none;
  --num1-lb4-dec: none;
}
#num1-cb1 ~ #num1-cb2:checked ~ #num1-cb3:checked ~ #num1-cb4:checked ~ .content {
  --num1-value: 8;

  --num1-lb1-inc: none;
  --num1-lb2-inc: none;
  --num1-lb3-inc: block;
  --num1-lb4-inc: none;

  --num1-lb1-dec: block;
  --num1-lb2-dec: none;
  --num1-lb3-dec: none;
  --num1-lb4-dec: none;
}
#num1-cb1 ~ #num1-cb2:checked ~ #num1-cb3 ~ #num1-cb4:checked ~ .content {
  --num1-value: 9;

  --num1-lb1-inc: none;
  --num1-lb2-inc: none;
  --num1-lb3-inc: none;
  --num1-lb4-inc: block;

  --num1-lb1-dec: none;
  --num1-lb2-dec: none;
  --num1-lb3-dec: block;
  --num1-lb4-dec: none;
}
/* State Changes for num2 */
#num2-cb1 ~ #num2-cb2:checked ~ #num2-cb3 ~ #num2-cb4 ~ .content {
  --num2-value: 0;

  --num2-lb1-inc: none;
  --num2-lb2-inc: none;
  --num2-lb3-inc: block;
  --num2-lb4-inc: none;

  --num2-lb1-dec: none;
  --num2-lb2-dec: none;
  --num2-lb3-dec: none;
  --num2-lb4-dec: block;
}
#num2-cb1 ~ #num2-cb2:checked ~ #num2-cb3:checked ~ #num2-cb4 ~ .content {
  --num2-value: 1;

  --num2-lb1-inc: block;
  --num2-lb2-inc: none;
  --num2-lb3-inc: none;
  --num2-lb4-inc: none;

  --num2-lb1-dec: none;
  --num2-lb2-dec: none;
  --num2-lb3-dec: block;
  --num2-lb4-dec: none;
}
#num2-cb1:checked ~ #num2-cb2:checked ~ #num2-cb3:checked ~ #num2-cb4 ~ .content {
  --num2-value: 2;

  --num2-lb1-inc: none;
  --num2-lb2-inc: block;
  --num2-lb3-inc: none;
  --num2-lb4-inc: none;

  --num2-lb1-dec: block;
  --num2-lb2-dec: none;
  --num2-lb3-dec: none;
  --num2-lb4-dec: none;
}
#num2-cb1:checked ~ #num2-cb2 ~ #num2-cb3:checked ~ #num2-cb4 ~ .content {
  --num2-value: 3;

  --num2-lb1-inc: block;
  --num2-lb2-inc: none;
  --num2-lb3-inc: none;
  --num2-lb4-inc: none;

  --num2-lb1-dec: none;
  --num2-lb2-dec: block;
  --num2-lb3-dec: none;
  --num2-lb4-dec: none;
}
#num2-cb1 ~ #num2-cb2 ~ #num2-cb3:checked ~ #num2-cb4 ~ .content {
  --num2-value: 4;

  --num2-lb1-inc: none;
  --num2-lb2-inc: none;
  --num2-lb3-inc: none;
  --num2-lb4-inc: block;

  --num2-lb1-dec: block;
  --num2-lb2-dec: none;
  --num2-lb3-dec: none;
  --num2-lb4-dec: none;
}
#num2-cb1 ~ #num2-cb2 ~ #num2-cb3:checked ~ #num2-cb4:checked ~ .content {
  --num2-value: 5;

  --num2-lb1-inc: block;
  --num2-lb2-inc: none;
  --num2-lb3-inc: none;
  --num2-lb4-inc: none;

  --num2-lb1-dec: none;
  --num2-lb2-dec: none;
  --num2-lb3-dec: none;
  --num2-lb4-dec: block;
}
#num2-cb1:checked ~ #num2-cb2 ~ #num2-cb3:checked ~ #num2-cb4:checked ~ .content {
  --num2-value: 6;

  --num2-lb1-inc: none;
  --num2-lb2-inc: block;
  --num2-lb3-inc: none;
  --num2-lb4-inc: none;

  --num2-lb1-dec: block;
  --num2-lb2-dec: none;
  --num2-lb3-dec: none;
  --num2-lb4-dec: none;
}
#num2-cb1:checked ~ #num2-cb2:checked ~ #num2-cb3:checked ~ #num2-cb4:checked ~ .content {
  --num2-value: 7;

  --num2-lb1-inc: block;
  --num2-lb2-inc: none;
  --num2-lb3-inc: none;
  --num2-lb4-inc: none;

  --num2-lb1-dec: none;
  --num2-lb2-dec: block;
  --num2-lb3-dec: none;
  --num2-lb4-dec: none;
}
#num2-cb1 ~ #num2-cb2:checked ~ #num2-cb3:checked ~ #num2-cb4:checked ~ .content {
  --num2-value: 8;

  --num2-lb1-inc: none;
  --num2-lb2-inc: none;
  --num2-lb3-inc: block;
  --num2-lb4-inc: none;

  --num2-lb1-dec: block;
  --num2-lb2-dec: none;
  --num2-lb3-dec: none;
  --num2-lb4-dec: none;
}
#num2-cb1 ~ #num2-cb2:checked ~ #num2-cb3 ~ #num2-cb4:checked ~ .content {
  --num2-value: 9;

  --num2-lb1-inc: none;
  --num2-lb2-inc: none;
  --num2-lb3-inc: none;
  --num2-lb4-inc: block;

  --num2-lb1-dec: none;
  --num2-lb2-dec: none;
  --num2-lb3-dec: block;
  --num2-lb4-dec: none;
}
